*{
    border-radius:5px;
}
body{
    background-image:url("bricks.webp");
    font-family:sans-serif;
    color:black;
}
#screen{
    display:inline-block;
    width:100%;
    padding:10px;
    margin-left:-10px;
    text-align:center;
}
#question1{
    display:none;
    background-color:rgb(185, 148, 77);
    border:black solid;
    font-family:"Faculty Glyphic", serif;
    padding:5px;
}
#question2{
    display:none;
    background-color:rgb(185, 148, 77);
    border:black solid;
    font-family:"Faculty Glyphic", serif;
    padding:5px;
}
#title{
    background-color:rgb(219, 179, 103);
    padding:5px;
    border:black solid;
    font-family:"Faculty Glyphic", serif;
    font-size:68px;
    border-radius:5px;
}
@media(min-width:728px){
    *{
        text-align:center;
    }
    #screen{
        width:auto;
    }
    #box1{
        float:left;
        width:48%;
    }
    #box2{
        float:right;
        width:48%;
    }
}

#startbutton{
    font-size:30px;
}
#settingsbutton{
    font-size:30px;
}
#settingsmenu{
    text-align:center;
    display:none;
}
.genrebutton{
    margin:2px;
    width:2cm;
    height:2cm;
}
.difficultybutton{
    margin:2px;
    width:2cm;
    height:2cm;
}
#difficulty{
    background-color:rgb(185, 148, 77);
    padding:5px;
    display:inline-block;
}
#genre{
    background-color:rgb(185, 148, 77);
    display:inline-block;
    grid-template-columns: 33% 33% 33%;
    padding:5px;
}
button{
    background-color:rgb(219, 179, 103);
    border-radius:5px;
    box-shadow:3px 3px  3px black;
}
button:hover{
    background-color:rgb(134, 110, 64);
    box-shadow:none;
}
#img1{
    display:none;
    border:black solid;
    max-width:100%;
}
#img2{
    display:none;
    border:black solid;
    max-width:100%;
}
#box1{
    display:none;
    padding:5px;
}
#box2{
    display:none;
    padding:5px;
}
#box1:hover{
    background-color:rgb(0, 0, 0, 0.3);
}
#box2:hover{
    background-color:rgb(0, 0, 0, 0.3);
}
#blurb{
    font-family:"Faculty Glyphic", serif;
    background-color:rgb(219, 179, 103);
    border:black solid;
    padding:10px;
    border-radius:5px;
}